<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <link rel="icon" href="/img/weather-91.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This web site created by {{name}} </p>
        <img class="portrait" src="/img/images.jpg" alt="Fenerbahçe Logo">
    </div>

    {{>footer}}
</body>
</html>